[core]
	editor = zile
[user]
	name = Wilfred Hughes
	email = me@wilfred.me.uk
[alias]
        graph = log --graph --decorate --pretty=oneline --abbrev-commit
        lol = log --graph --decorate --pretty=oneline --abbrev-commit
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
        new-branch = checkout -b
        change-branch = checkout
        revert-changes = reset --hard
        discard-changes = reset --hard
        push-current-branch = "!f() { git push origin `git symbolic-ref HEAD`; }; f"
        rename-branch = branch -m
        delete-branch = "!f() { echo "Deleting remote branch:"; git push origin --delete $1; echo "Deleting local branch:"; git branch -d $1; }; f"
        delete-local-branch = branch -d
        co = !git-fuzzy

[color]
        branch = auto
        diff = auto
        status = auto
[color "branch"]
       current = yellow reverse
       local = yellow 
       remote = green
[color "diff"]
       meta = yellow bold
       frag = magenta bold
       old = red bold
       new = green bold
[color "status"]
       added = yellow
       changed = green
       untracked = cyan

[help]
	autocorrect = 20
[push]
	default = simple
