[core]
	editor = zile
        # Only use less when the output is more than one screen
        # https://stackoverflow.com/a/39393497/509706
        pager = less -XF
	excludesfile = ~/.gitignore_global
[user]
	name = Wilfred Hughes
	email = me@wilfred.me.uk
[alias]
        b = branch
        # 'New Branch'
        nb = checkout -b
        # New branch in a Worktree.
        nw = "!f() { git worktree add $1 -b $1; }; f"
        # New branch in a Worktree From a specified branch
        nwf = "!f() { git worktree add $2 -b $2 $1; }; f"
        # Existing branch in a Worktree.
        ew = "!f() { git worktree add $1 $1; }; f"
        # List Worktrees.
        lw = "!f() { git worktree prune && git worktree list; }; f"

        lol = log --graph --decorate --pretty=oneline --abbrev-commit
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
        push-current-branch = "!f() { git push origin `git symbolic-ref HEAD`; }; f"
        # see http://stackoverflow.com/a/17029936/509706
        prune-local = !git-prune-local
        # http://stackoverflow.com/a/6127884/509706
        # Remove local branches that have merged into master or develop
        rm-merged = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
        ls-merged = "!git branch --merged"
        rename-branch = branch -m
        delete-branch = "!f() { echo "Deleting remote branch:"; git push origin --delete $1; echo "Deleting local branch:"; git branch -d $1; }; f"
        co = !git-fuzzy
        up = merge @{u} --ff-only

[color]
        branch = auto
        diff = auto
        status = auto
[color "branch"]
       current = yellow reverse
       local = yellow 
       remote = green
[color "diff"]
       meta = yellow bold
       frag = magenta bold
       old = red bold
       new = green bold
[color "status"]
       added = yellow
       changed = green
       untracked = cyan

[help]
	autocorrect = 20
[push]
	default = current
	recurseSubmodules = on-demand
[diff]
	algorithm = patience
	mnemonicprefix = true
	submodule = log

[url "git@github.com:"]
        insteadOf = gh:
[rerere]
	enabled = true
[advice]
	statusHints = false
[gc]
	pruneExpire = 60 days
[status]
	submoduleSummary = true
[merge]
	conflictStyle = diff3
[include]
        path = ~/.gitconfig.private
